body {
    margin: 0;
    padding: 0;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    height: 100vh;
    background-color: var(--main_color);
}

.header {
    display: flex;
    width: 100%;
    height: 15%;
}

.dashboard-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.dashboard-body-upper, .dashboard-body-lower {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.aulify-games-logo-container {
    margin-top: 15vh;
    display: flex;
    justify-content: flex-start;
    height:100%;
}

.aulify-games-logo-dashboard {
    height: 200%;
    width: auto;
    align-self: center;
    vertical-align: middle;
    margin-top: -40vh;
    margin-left: -4vh;
}

.logout-button-container{
    margin-top: 10vh;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 20%;

}

.logout-button {
    background-color: #fff;
    font-weight: bold;
    color: var(--main_color);
    border: 3px solid transparent;
    border-radius: 12px;
    cursor: pointer;
    height: 4.5vh;
    width: auto;
    margin-right: 8vh;
    margin-top: -5vh;
}

.logout-button:hover {
    background-color: var(--main_color);
    color: #fff;
    border-color: var(--highlight);
}

.logout-button.clicked{
    border-color: var(--highlight);
}

.dashboard-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.stats-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.stats-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 90%;
    background-color: var(--darker_color);
    margin: 1vh;
    border-radius: 12px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
}

.stats-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
    gap: 1vh;
}

.header-highlight {
    color: var(--highlight);
}

.stats-card-body {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 70%;
    color:#fff;
}

.places-container,
.users-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.places-container h4,
.users-container h4 {
    font-size: 1.5vw;
    margin: 1px;
    padding: 2px
}

.places-container{
    color: var(--highlight);
}