body {
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
    height: 100vh;
    background-color: var(--main_color);
}

.header {
    display: flex;
    width: 100%;
    height: 20%;
}

.aulify-games-logo-container {
    display: flex;
    justify-content: flex-start;
    height:100%;
}

.aulify-games-logo {
    height: 150%;
    width: auto;
    align-self: center;
    vertical-align: middle;
    margin-top: -24vh;
    margin-left: -2vh;
}

.logo-container {
    display: flex;
    justify-content: center;
    background-color: var(--main_color);
    width: 100%;
    height: 50%;
}

.login-image {
    height: 100%;
    width: auto;
}

.button-container{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    background-color: var(--main_color);
}

.loginButton {
    justify-content: center;
    width: 15%;
    height: 40%;
    border-radius: 10px;
    border: 3px solid transparent;
    background-color: var(--darker_color);
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 1.2vw;
    box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.25);
}

.loginButton:hover {
    border-color: var(--highlight);
}

.loginButton.clicked {
    border-color: var(--highlight);
}

.loginForm {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loginForm input[type="text"], .loginForm input[type="password"] {
    border-radius: 5px;
    border: none;
    width: 12vw;
    height: 6vh;
    font-weight: bold;
}

.loginForm button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 8vw;
    height: 6vh;
    background-color: var(--darker_color);
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1vw;
}

.loginForm button:hover {
    background-color: var(--highlight);
}

.errorMessage {
    border: 1px solid rgb(200, 0, 0);
    border-radius: 5px;
    padding: 15px;
    background-color: rgb(200, 0, 0);
    color: white;

}